.hero-about {
  width: 100%;
  height: auto;
  padding: 50px 30px 100px;
  background-color: var(--text-color-primary);
}

.hero-about .hero-text-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.hero-about .hero-text-contents p {
  font-family: "Geist", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.005em;
  color: var(--text-color-secondary);
  text-transform: uppercase;
}

.hero-about .hero-text-contents h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.005em;
  color: var(--text-color-secondary);
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .hero-about .hero-text-contents p {
    font-size: 14px;
  }

  .hero-about .hero-text-contents h1 {
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1280px) {
  .hero-about .hero-text-contents p {
    font-size: 15px;
  }

  .hero-about .hero-text-contents h1 {
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
}
